<div class="card bg-dark text-light">
  <div class="card-header">
    <h1 class="card-title">Mi perfil</h1>
  </div>
  <div class="card-body">  
    <img width="230" height="200" src="public/images/lobo.jpg" alt="">
  </div>
  <div class="card-body">
    <h4 style="color: rgb(63, 223, 0);">Correo electronico: </h4><p>{{user.email}}</p>
    <h4 style="color: rgb(63, 223, 0);">Fecha de registro de usuario: </h4><p>{{user.createdAt}}</p>
  </div>
</div>